{% extends "layout.html" %}

{% block content %}

<style>

    body {
        color: white;
        background-color: black;
    }
</style>

<div class="row"  style="background-color:black;">
    <div class="col-sm-10" style="background-color:black;">
        <div class="row">

            <h1>Data Query</h1>
            <p>
                Here, you can choose countries you would like to explore. Just choose countries, enter submit and compare the number of deaths each virus caused in each countries.
            </p>
            <p> *the coronavirus database contains all the information until 28\4\2020</p>
            <img src="https://www.aljazeera.com/mritems/imagecache/mbdxxlarge/mritems/Images/2020/3/4/27921435f70b4f18975a598732c754b7_18.jpg" width="500" height="250">

            <h2>{{ title }}</h2>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for message in messages %}
            <h4 style="color:red">{{ message[1] }}</h4>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <br />
        </div>
        <div class="row">

            <form method=post>
                {{ form.csrf }}
                {{ form.csrf_token }}
                <table>

                    <tr>
                        <td>
                            {{ form.states.label }}
                        </td>
                        <td>
                            {{ form.states }}
                        </td>
                        <td>
                            {% if form.states.errors %}
                            <ul class="text-danger">{% for error in form.FirstName.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                            {% endif %}
                        </td>
                    </tr>

                </table>
                {{ form.submit }}
            </form>
        </div>

    </div>
    <div style="background-color:white;;width:50%; border-radius:5px">
        {{ chart1 | safe }}
    </div>
    <br /><br />
    <div style="background-color:white; width:50%; border-radius:5px">
        {{ chart2 | safe}}
    </div>
       
   
</div>

{% endblock %}
